* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Poppins', sans-serif;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #000;
}

a:hover {
    text-decoration: none;
}

body {
    background: #e0e7ef;
    // background: rgba(#e0e7ef, 0.5);
}

// header----------------------
.header {
    .box-menu {
        .btnCloseMenuHeader {
            opacity: 0;
            visibility: hidden;
            position: relative;
        }
        .navbar-nav {
            position: relative;
            .menu-toggler-nav {
                position: absolute;
                top: 0;
                left: 0;
                cursor: pointer;
                .menu-toggler-nav-active {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 200px;
                    background: #c8d6e5;
                    z-index: 10;
                    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                    opacity: 0;
                    visibility: hidden;
                    -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                    -o-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                    padding: 10px 15px;
                }
            }
            .menu-toggler-nav:hover .menu-toggler-nav-active {
                opacity: 1;
                visibility: visible;
            }
            .menu-main {
                a {
                    color: #576574;
                    -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                    -o-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                }
            }
            .menu-main:nth-child(1) {
                margin-left: 40px;
            }
            .menu-main a:hover {
                color: #ffbe76;
            }
        }
    }
}

// banner home----------------------
.bannerHome {
    position: relative;
    img {
        width: 100%;
    }
    .searchForm {
        width: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(#dff9fb, 0.5);
        padding: 25px;
        input {
            padding: 16px 15px 16px 35px;
            width: calc(80% - 2px);
            border: none;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
        }
        .btnSearch {
            display: inline-block;
            padding: 15px;
            text-align: center;
            width: calc(20% - 2px);
            background: #95afc0;
            color: #535c68;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            font-size: 18px;
            margin-left: -5px;
            cursor: pointer;
        }
    }
}

// page home----------------------
.pageHome {
    .box-1 {
        margin: 25px 0;
        .row {
            margin: 0;
            .item:hover {
                box-shadow: 2px 2px 10px #ccc;
                border-radius: 5px;
            }
            .item {
                padding: 15px;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
                .iconBox {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    img {
                        width: 100%;
                    }
                }
                .txtContent {
                    .txtBoxName {
                        font-size: 18px;
                    }
                    .description {
                        color: #718093;
                    }
                }
            }
            .item:nth-child(2) {
                border-left: 1px solid #ccc;
                border-right: 1px solid #ccc;
            }
        }
    }
    .box-2 {
        .txtNameTitel {
            font-size: 18px;
            color: #535c68;
            margin-bottom: 20px;
        }
        .boxContent {
            margin-bottom: 25px;
            .item {
                .box-item {
                    // padding: 0 0 ;
                    -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                    -o-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                    display: grid;
                    grid-template-columns: auto auto auto auto auto auto;
                    .icon {
                        img {
                            width: 100%;
                        }
                        grid-column: 1/3;
                    }
                    .description {
                        grid-column: 3;
                        padding: 10px;
                        .nameProduct {
                            font-size: 13px;
                            margin-bottom: 5px;
                            font-weight: bold;
                        }
                        .evaluate {
                            span:nth-child(1) {
                                background: #6ab04c;
                                border-radius: 5px;
                                padding: 2px;
                                color: #fff;
                                font-weight: 500;
                            }
                            span:nth-child(2) {
                                color: #6ab04c;
                            }
                        }
                    }
                    .priceFormat {
                        text-align: right;
                        color: #22a6b3;
                        font-weight: 500;
                    }
                }
            }
            .item {
                .box-item:hover {
                    box-shadow: 2px 2px 10px #ccc;
                    border-radius: 5px;
                }
            }
        }
    }
    .box-3 {
        .txtNameTitel {
            border-bottom: 1px solid #ccc;
            padding-bottom: 5px;
            margin-bottom: 15px;
            font-size: 18px;
            color: #535c68;
            font-weight: 500;
            .btnSee {
                float: right;
                i {
                    color: #9c1320;
                }
            }
            .btnSee:hover a {
                color: #9c1320;
            }
        }
        .boxContent {
            position: relative;
            margin: 0 -15px;
            .swiper-container {
                width: 100%;
                height: 100%;
            }
            .box-item-content {
                position: relative;
                padding: 0 15px;
                .avatar {
                    position: relative;
                    overflow: hidden;
                    cursor: pointer;
                    img {
                        width: 100%;
                        -webkit-transition: transform 0.8s cubic-bezier(0.44, 0.185, 0.575, 0.86);
                        -moz-transition: transform 0.8s cubic-bezier(0.44, 0.185, 0.575, 0.86);
                        -o-transition: transform 0.8s cubic-bezier(0.44, 0.185, 0.575, 0.86);
                        transition: transform 0.8s cubic-bezier(0.44, 0.185, 0.575, 0.86);
                    }
                    .mapName {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        padding: 8px 10px;
                        background: rgba(52, 74, 113, 0.9);
                        color: #ffffff;
                        i {
                            margin-right: 5px;
                        }
                    }
                }
                .box-desc {
                    padding: 15px;
                    background: #dcdde1;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    .box-title {
                        height: 60px;
                        overflow: hidden;
                        a {
                            font-weight: bold;
                            font-size: 20px;
                            -webkit-transition: all 0.5s ease;
                            -moz-transition: all 0.5s ease;
                            -o-transition: all 0.5s ease;
                            transition: all 0.5s ease;
                        }
                    }
                    .box-title a:hover {
                        color: #d82727;
                    }
                    .box-content {
                        position: relative;
                        padding-right: 130px;
                        .textDescBox {
                            color: #666666;
                            overflow: hidden;
                            white-space: nowrap;
                            -ms-text-overflow: ellipsis;
                            text-overflow: ellipsis;
                        }
                        .box-right {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            text-align: right;
                            .box-price {
                                font-size: 20px;
                                color: #d82727;
                                font-weight: bold;
                            }
                        }
                    }
                }
                .ribbon {
                    position: absolute;
                    top: 10px;
                    left: 5px;
                    pointer-events: none;
                    .rib {
                        background-color: #d82727;
                        border-color: #d82727;
                        font-weight: bold;
                        padding: 4px 10px;
                        color: #ffffff;
                        position: relative;
                        text-transform: uppercase;
                    }
                    .rib::before {
                        content: "";
                        width: 0;
                        bottom: 0;
                        border-top: solid 10px;
                        border-left: solid 10px transparent;
                        border-top-color: inherit;
                        border-right-color: inherit;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        -webkit-filter: brightness(80%);
                        filter: brightness(80%);
                    }
                }
            }
            .box-item-content:hover {
                .avatar {
                    img {
                        -webkit-transform: scale(1.06);
                        -moz-transform: scale(1.06);
                        -o-transform: scale(1.06);
                        -ms-transform: scale(1.06);
                        transform: scale(1.06);
                    }
                }
            }
            .btnSwiper {
                position: absolute;
                width: 40px;
                top: 50%;
                height: 40px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                background: #ffffff;
                -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
                box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
                -webkit-transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                transform: translate(0, -50%);
                cursor: pointer;
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .next_item {
                right: -5px;
            }
            .prev_item {
                left: -5px;
            }
            .prev_item:hover,
            .next_item:hover {
                background: #d82727;
                color: #fff;
            }
        }
    }
    .box-4 {
        .txtNameTitel {
            margin-bottom: 20px;
            border-bottom: 2px solid #333333;
            .allPlace {
                display: inline-block;
                a.box-item-link {
                    padding: 5px 10px;
                    text-transform: uppercase;
                    font-weight: 500;
                    display: inline-block;
                    -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                    -o-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                }
                a.box-item-link.active {
                    background: #d82727;
                    color: #fff;
                }
                a.box-item-link:hover {
                    color: #d82727;
                }
            }
            .btnAll {
                float: right;
                padding-left: 10px;
                border-left: 1px solid #ccc;
                a {
                    font-weight: 500;
                    i {
                        color: #d82727;
                    }
                }
                a:hover {
                    color: #d82727;
                }
            }
        }
        .boxContent {
            .box-item-content {
                position: relative;
                background: rgba(#dff9fb, 0.5);
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
                margin-bottom: 20px;
                .avatar {
                    position: relative;
                    overflow: hidden;
                    cursor: pointer;
                    img {
                        width: 100%;
                        -webkit-transition: transform 0.8s cubic-bezier(0.44, 0.185, 0.575, 0.86);
                        -moz-transition: transform 0.8s cubic-bezier(0.44, 0.185, 0.575, 0.86);
                        -o-transition: transform 0.8s cubic-bezier(0.44, 0.185, 0.575, 0.86);
                        transition: transform 0.8s cubic-bezier(0.44, 0.185, 0.575, 0.86);
                    }
                    .mapName {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        padding: 8px 10px;
                        background: rgba(52, 74, 113, 0.9);
                        color: #ffffff;
                        i {
                            margin-right: 5px;
                        }
                    }
                }
                .box-desc {
                    padding: 15px;
                    .box-title {
                        height: 60px;
                        overflow: hidden;
                        a {
                            font-weight: bold;
                            font-size: 20px;
                            -webkit-transition: all 0.5s ease;
                            -moz-transition: all 0.5s ease;
                            -o-transition: all 0.5s ease;
                            transition: all 0.5s ease;
                        }
                    }
                    .box-title a:hover {
                        color: #d82727;
                    }
                    .box-content {
                        position: relative;
                        .textDescBox {
                            width: 80%;
                            color: #666666;
                            overflow: hidden;
                            white-space: nowrap;
                            -ms-text-overflow: ellipsis;
                            text-overflow: ellipsis;
                        }
                        .box-price {
                            font-size: 20px;
                            color: #d82727;
                            font-weight: bold;
                            margin: 10px 0;
                        }
                        .box-right {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            text-align: right;
                        }
                    }
                }
                .ribbon {
                    position: absolute;
                    top: 10px;
                    left: -10px;
                    pointer-events: none;
                    .rib {
                        background-color: #d82727;
                        border-color: #d82727;
                        font-weight: bold;
                        padding: 4px 10px;
                        color: #ffffff;
                        position: relative;
                        text-transform: uppercase;
                    }
                    .rib::before {
                        content: "";
                        width: 0;
                        bottom: 0;
                        border-top: solid 10px;
                        border-left: solid 10px transparent;
                        border-top-color: inherit;
                        border-right-color: inherit;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        -webkit-filter: brightness(80%);
                        filter: brightness(80%);
                    }
                }
            }
            .box-item-content:hover {
                box-shadow: 2px 2px 10px #ccc;
                .avatar {
                    img {
                        -webkit-transform: scale(1.06);
                        -moz-transform: scale(1.06);
                        -o-transform: scale(1.06);
                        -ms-transform: scale(1.06);
                        transform: scale(1.06);
                    }
                }
            }
        }
    }
    .box-5 {
        .txtNameTitel {
            border-bottom: 1px solid #ccc;
            padding-bottom: 5px;
            margin-bottom: 15px;
            font-size: 18px;
            color: #535c68;
            font-weight: 500;
            .btnSee {
                float: right;
                i {
                    color: #9c1320;
                }
            }
            .btnSee:hover a {
                color: #9c1320;
            }
        }
        .boxContent {
            margin-bottom: 20px;
            .box-item-1 {
                overflow: hidden;
                a {
                    display: inline-block;
                    color: #fff;
                    height: 100%;
                    width: 100%;
                    position: relative;
                    .bgBoxItem {
                        -webkit-transition: transform 0.8s cubic-bezier(0.44, 0.185, 0.575, 0.86);
                        -moz-transition: transform 0.8s cubic-bezier(0.44, 0.185, 0.575, 0.86);
                        -o-transition: transform 0.8s cubic-bezier(0.44, 0.185, 0.575, 0.86);
                        transition: transform 0.8s cubic-bezier(0.44, 0.185, 0.575, 0.86);
                        height: 100%;
                        max-height: 100%;
                        max-width: 100%;
                        width: auto;
                    }
                    .mapName {
                        i {
                            color: #f0932b;
                            font-size: 25px;
                            margin-right: 10px;
                        }
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        background: rgba(#0652DD, 0.5);
                        padding: 10px;
                    }
                    img.bgBoxItem:hover {
                        -webkit-transform: scale(1.06);
                        -moz-transform: scale(1.06);
                        -o-transform: scale(1.06);
                        -ms-transform: scale(1.06);
                        transform: scale(1.06);
                    }
                }
            }
            .box-item-2 {
                .box-item-img {
                    .col-6 {
                        margin-bottom: 15px;
                        padding-right: 0;
                        .box-item-col {
                            overflow: hidden;
                            a {
                                color: #fff;
                                display: inline-block;
                                position: relative;
                                img {
                                    width: 100%;
                                    height: 100%;
                                    min-height: 250px;
                                    -webkit-transition: transform 0.8s cubic-bezier(0.44, 0.185, 0.575, 0.86);
                                    -moz-transition: transform 0.8s cubic-bezier(0.44, 0.185, 0.575, 0.86);
                                    -o-transition: transform 0.8s cubic-bezier(0.44, 0.185, 0.575, 0.86);
                                    transition: transform 0.8s cubic-bezier(0.44, 0.185, 0.575, 0.86);
                                }
                                .mapName {
                                    i {
                                        color: #f0932b;
                                        font-size: 25px;
                                        margin-right: 10px;
                                    }
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    width: 100%;
                                    background: rgba(#0652DD, 0.5);
                                    padding: 10px;
                                }
                            }
                        }
                    }
                    .box-item-col:hover {
                        img {
                            -webkit-transform: scale(1.06);
                            -moz-transform: scale(1.06);
                            -o-transform: scale(1.06);
                            -ms-transform: scale(1.06);
                            transform: scale(1.06);
                        }
                    }
                }
            }
        }
    }
    .box-6 {
        margin-bottom: 50px;
        .txtNameTitel {
            border-bottom: 1px solid #ccc;
            padding-bottom: 5px;
            margin-bottom: 15px;
            font-size: 18px;
            color: #535c68;
            font-weight: 500;
            .btnSee {
                float: right;
                i {
                    color: #9c1320;
                }
            }
            .btnSee:hover a {
                color: #9c1320;
            }
        }
        .boxContent {
            position: relative;
            .swiper-container {
                width: 100%;
                height: 100%;
            }
            .box-item-content {
                position: relative;
                .avatar {
                    position: relative;
                    overflow: hidden;
                    cursor: pointer;
                    img {
                        width: 100%;
                        -webkit-transition: transform 0.8s cubic-bezier(0.44, 0.185, 0.575, 0.86);
                        -moz-transition: transform 0.8s cubic-bezier(0.44, 0.185, 0.575, 0.86);
                        -o-transition: transform 0.8s cubic-bezier(0.44, 0.185, 0.575, 0.86);
                        transition: transform 0.8s cubic-bezier(0.44, 0.185, 0.575, 0.86);
                    }
                }
                .box-desc {
                    background: #dcdde1;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    padding: 15px;
                    .box-title {
                        height: 60px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        a {
                            font-weight: bold;
                            font-size: 20px;
                            -webkit-transition: all 0.5s ease;
                            -moz-transition: all 0.5s ease;
                            -o-transition: all 0.5s ease;
                            transition: all 0.5s ease;
                        }
                    }
                    .box-title a:hover {
                        color: #d82727;
                    }
                    .box-content {
                        position: relative;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }
                }
            }
            .box-item-content:hover {
                .avatar {
                    img {
                        -webkit-transform: scale(1.06);
                        -moz-transform: scale(1.06);
                        -o-transform: scale(1.06);
                        -ms-transform: scale(1.06);
                        transform: scale(1.06);
                    }
                }
            }
            .btnSwiper {
                position: absolute;
                width: 40px;
                top: 50%;
                height: 40px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                background: #ffffff;
                -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
                box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
                -webkit-transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                transform: translate(0, -50%);
                cursor: pointer;
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .next_blog {
                right: -20px;
            }
            .prev_blog {
                left: -20px;
            }
            .prev_blog:hover,
            .next_blog:hover {
                background: #d82727;
                color: #fff;
            }
        }
    }
}

// page ----------------------
.page-warp {}

//footer -------------------------
.footer {
    .contentFooter {
        .box-top-footer {
            .nameTitel {
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 600;
                color: #d82727;
                border-bottom: 2px solid #d82727;
                margin-bottom: 15px;
            }
            ul {
                // columns: 4;
                // -webkit-columns: 4;
                // -moz-columns: 4;
                li {
                    width: 25%;
                    float: left;
                }
                li:hover {
                    a {
                        color: #d82727;
                    }
                }
            }
        }
        .box-center-footer {
            border-top: 1px solid #ccc;
            padding: 15px 0;
            margin-top: 25px;
            .title-footer {
                font-size: 18px;
                margin-bottom: 10px;
                text-transform: uppercase;
                font-weight: bold;
            }
            .content-footer {
                .box-input-group {
                    input {
                        padding: 6px 12px;
                        vertical-align: top;
                        height: 40px;
                        width: calc(100% - 43px);
                    }
                    button {
                        height: 40px;
                        margin-left: -4px;
                        vertical-align: top;
                        background: #d82727;
                        color: #fff;
                        border-radius: 0;
                    }
                    button:hover {
                        background: #666666;
                    }
                }
            }
            a:hover {
                color: #d82727;
            }
        }
        .box-bottom-footer {
            border-top: 1px solid #ccc;
            padding: 15px 0;
            margin-top: 25px;
            .box-content-footer {
                .title-footer {
                    font-size: 18px;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
            .col-logo {
                // float: right;
                .vnt-social {
                    text-align: center;
                    ul {
                        li {
                            display: inline-block;
                            a {
                                display: block;
                                width: 40px;
                                height: 40px;
                                font-size: 18px;
                                padding: 10px 5px;
                                text-align: center;
                                -webkit-transition: all 0.5s ease;
                                -moz-transition: all 0.5s ease;
                                -o-transition: all 0.5s ease;
                                transition: all 0.5s ease;
                            }
                            a:hover {
                                color: #d82727;
                            }
                        }
                    }
                }
            }
        }
    }
    .fixed_menu {
        position: fixed;
        top: 50%;
        right: 10px;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        z-index: 100;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        ul {
            li {
                position: relative;
                margin-bottom: 10px;
                .linkSocial {
                    display: block;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    font-size: 18px;
                    line-height: 30px;
                    padding-top: 5px;
                    color: #333333;
                    position: relative;
                    background: #eeeeee;
                    z-index: 1;
                    -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                    -o-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                    cursor: pointer;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    i {
                        font-size: 18px;
                    }
                }
                .btnGoTop {
                    display: none;
                }
                .linkSocial:hover {
                    background: #d82727;
                    color: #ffffff;
                    a {
                        color: #ffffff;
                    }
                }
            }
        }
    }
    .fixed_menu.show {
        display: block;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 770px) {}

@media all and (max-width: 768px) {}

@media all and (max-width: 450px) {
    .header {
        .box-menu {
            .menu-mobile {
                position: absolute;
                z-index: 11;
                top: 0;
                left: 0;
                background: #fff;
                width: 0;
                height: 100vh;
                opacity: 0;
                visibility: hidden;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }
            .close-mobile-toggler-icon {
                display: none;
            }
            .active-menu-mobile {
                opacity: 1;
                visibility: visible;
                width: 100%;
            }
            .btnCloseMenuHeader {
                opacity: 1;
                visibility: visible;
                padding: 20px 0;
                border-bottom: 8px solid #ededed;
                img {
                    padding: 0 15px;
                }
            }
            .navbar-nav {
                .menu-toggler-nav {
                    border-top: 8px solid #ededed;
                    position: relative;
                    .menu-toggler-nav-active {
                        position: relative;
                        width: 100%;
                        background: #fff;
                        opacity: 1;
                        visibility: visible;
                        box-shadow: none;
                        padding: 0;
                        li {
                            padding: 15px;
                            border-bottom: 1px solid #e5e5e5;
                        }
                        li:nth-last-child(1) {
                            border-bottom: none;
                        }
                    }
                }
                .menu-main {
                    padding: 15px;
                    border-bottom: 1px solid #e5e5e5;
                }
                .menu-main:nth-child(1) {
                    margin-left: 0;
                }
            }
        }
    }
    .bannerHome {
        .searchForm {
            .btnSearch {
                padding: 5px 0;
                vertical-align: top;
                span {
                    display: none;
                }
            }
            input {
                vertical-align: top;
                padding: 9px;
                font-size: 13px;
            }
        }
    }
    .pageHome {
        .box-1 {
            .row {
                .item:nth-child(2) {
                    border-left: none;
                    border-right: none;
                }
            }
        }
        .box-2 {
            .boxContent {
                .item {
                    margin-bottom: 10px;
                    padding: 0;
                    .box-item {
                        .description {
                            .nameProduct {
                                overflow: hidden;
                                height: 40px;
                            }
                        }
                    }
                }
            }
        }
        .box-4 {
            .txtNameTitel {
                margin-top: 15px;
                .btnAll {
                    float: none;
                }
            }
        }
        .box-5 {
            .boxContent {
                .box-item-2 {
                    .box-item-img {
                        .col-6 {
                            margin-bottom: 0;
                        }
                        .col-6:nth-child(n + 1) {
                            padding-left: 7.5px;
                            margin-top: 15px;
                        }
                        .col-6:nth-child(2n + 1) {
                            padding-right: 7.5px;
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
    }
    .footer {
        .fixed_menu {
            top: unset;
            width: 100%;
            bottom: 0;
            right: 0;
            -webkit-transform: translate(0, 0);
            -moz-transform: translate(0, 0);
            -o-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            transform: translate(0, 0);
            ul {
                li {
                    width: calc( 100% / 3);
                    margin-bottom: -2px;
                    display: inline-block;
                    margin-right: -5px;
                    .linkSocial {
                        width: 100%;
                        height: 40px;
                        -webkit-border-radius: 0;
                        -moz-border-radius: 0;
                        border-radius: 0;
                    }
                    #btnGoTop {
                        display: none !important;
                    }
                    #btnGoTopMobile {
                        display: block;
                    }
                }
            }
        }
    }
}